#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.brewery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.brewery-list li {
  list-style-type: none;
  background-color: #000000;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.summary-stats {
  margin: 20px 0;
  background-color: #007bff;
  color: rgb(12, 1, 1);
  padding: 10px;
  border-radius: 5px;
}

.search-filter input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

.random-brewery {
  margin: 20px 0;
  padding: 15px;
  background-color: #000000;
  border: 1px solid #ddd;
  border-radius: 8px;
}
/* Container for the search filter */
.search-filter {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
}

/* Style for the input text */
.search-filter input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the dropdown selectors */
.search-filter select {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  background-color: #040303;
  appearance: none; /* Removes default browser styling */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Add hover effect to the dropdown selectors */
.search-filter select:hover {
  border-color: #007bff;
}

/* Add a focus effect for dropdowns */
.search-filter select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.brewery-detail {
  margin-top: 20px;
  padding: 20px;
  background-color: #17739d;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.brewery-list a {
  color: #007bff;
  text-decoration: none;
}

.brewery-list a:hover {
  text-decoration: underline;
}

